 #nav ul li{ display: block; width: 300px; border-bottom: 1px solid #CCC; float:left; line-height: 40px; font-size:16px;}
    #nav ul li a{ color:#000;text-decoration:none}
    .is_use{float:right; color:red; font-size:14px;}
    .avtion{background-color:#CCC;}
    .red{ color:#F00;}