@charset "utf-8";
/*
	Author: Miaohu
	Description: This is the orderlist css.
	Date: 1/9/2014
*/

/* General styling */
body,#wrapper{
	background-color: #eff2f5;
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
}
#wrapper article{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.userlist{
	/*padding: 0 1rem;*/
	background-color: #ffffff;
	margin-top: 1.3rem;
	margin-bottom: 3.5rem;
}
.listinfo{
	padding: 2.7rem;
}
.btnoper span{
	width: 45%;
	text-align: center;
	font-size: 1.57rem;
}
.myevaluate{
	border: 1px solid #ff8400;
	float: left;
	color: #ff8400;
}
.viewdetail{
	border: 1px solid #4691ff;
	float: right;
	color: #4691ff;
}
.avataricon{
	width: 28%;
	max-width: 165px;
	max-height: 165px;
	border-radius: 15px;
	display: inline-block;
	vertical-align: middle;
}
.userinfo{
	display: inline-block;
	width: 100%;
	margin-left: 2%;
	vertical-align: middle;
}
.userinfo p{
	font-size: 1.2rem;
	color: #808080;
	line-height: 1.8rem;
	display: block;
}
.userinfo p span{
	display: inline-block;
}
.userinfo p.username{
	font-size: 1.2rem;
	color: #000000;
	vertical-align:top;
}
.btnoper{
	padding: 1.3rem 1rem 2rem 1rem;
	border-top: 0.15rem dotted #dadada;
}
.urgentcancel{
	border: 1px solid #fe4444;
	float: left;
	color: #fe4444;
}
.moredata{
	color: #000000;
	font-size: 2rem;
	text-align: center;
	line-height: 3rem;
	margin: 1.5rem 0 2rem 0;
}
/* 曲线 */
.profile_t{
	background-image: url(../../img/profile_t.png);
	background-repeat: repeat-x;
	background-position: 0px top;
}
.profile_b{
	background-image: url(../../img/profile_b.png);
	background-repeat: repeat-x;
	background-position: 0px bottom;
}
.staricon img{
	float: left;
	margin-right: 2%;
	width: 8%;
	margin-top: 1%;
}

/* Media Queries
@media screen and (min-width: 300px) and (max-width: 350px) {
	.userinfo{margin-left: 1%;}
	.btnoper{padding:0.5rem 1rem 1rem 1rem}
	.userinfo p{ font-size:0.8rem; line-height: 1.3rem;}
	.userinfo p.username{font-size: 1rem;}
	.btnoper span{ font-size: 1rem; padding: 0.4rem 0;}
	.moredata{font-size: 1.3rem; line-height: 1rem;}
	.avataricon{ height: 70px; width: 70px; }
}
@media screen and (min-width: 350px) and (max-width: 400px) {
	.userinfo{margin-left: 1%;}
	.btnoper{padding:0.7rem 1rem 1rem 1rem}
	.userinfo p{ font-size:0.95rem; line-height: 1.3rem;}
	.userinfo p.username{font-size: 1rem;}
	.btnoper span{ font-size: 1.2rem; padding: 0.4rem 0;}
	.moredata{font-size: 1.4rem; line-height: 1.1rem;}
	.avataricon{ height: 85px; width: 85px; }
}
@media screen and (min-width: 400px) and (max-width: 500px) {
	.userinfo{margin-left: 1%;}
	.btnoper{padding:1rem}
	.userinfo p{ font-size: 1.13rem;line-height: 1.7rem;}
	.userinfo p.username{font-size: 1.4rem;}
	.btnoper span{ font-size: 1.5rem; padding: 0.4rem 0;}
	.moredata{font-size: 1.7rem; line-height: 1.3rem;}
	.avataricon{ height: 100px; width: 100px; }
}
@media screen and (min-width: 500px) and (max-width: 600px) {
	.btnoper{padding:1.3rem 1rem 1.5rem 1rem}
	.userinfo p{ font-size: 1.4rem;line-height: 2.1rem;}
	.userinfo p.username{font-size: 1.5rem;}
	.btnoper span{ font-size: 1.5rem; padding: 0.4rem 0;}
	.moredata{font-size: 1.7rem; line-height: 1.3rem;}
	.avataricon{ height: 125px; width: 125px; }
}
@media screen and (min-width: 600px) and (max-width: 700px) {
	.btnoper{padding:1.3rem 1rem 1.5rem 1rem}
	.userinfo p{ font-size: 1.7rem;line-height: 2.5rem;}
	.userinfo p.username{font-size: 1.9rem;}
	.btnoper span{ font-size: 1.9rem; padding: 0.6rem 0;}
	.moredata{font-size: 2.1rem; line-height: 1.3rem;}
	.avataricon{ height: 150px; width: 150px; }
}
 */
